@import 'antd/dist/antd.css';

.backTop{
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 4px;
    background-color: #1088e9;
    color: #fff;
    text-align: center;
    font-size: 14px;
}
.content{
    margin: 20px 0 0 100px;
}

.footer{
    background-color: #001529;
    padding: unset;
}